.tab-switcher-container {
  border-bottom: 2px solid #c4c4c4;

  &.dual-colours .tab-switcher-header {
    max-width: 720px;
  }

  &.dual-colours .tab-btn {
    font-size: 14px;
  }
}

.tab-switcher-header {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}

.tab-btn {
  flex: 1 1;
  padding-bottom: 25px;
  border: none;
  background: transparent;
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
  font-size: 17.89px;
  line-height: 35.77px;

  &.active {
    color: #0065b2;

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      right: 0;
      height: 6px;
      background: #0065b2;
    }
  }
}

.color-box {
  display: flex;
  width: 64px;
  height: 20px;
  border-radius: 4px;
  overflow: hidden;
}

.color1,
.color2 {
  width: 50%;
}

.tab-switcher-content {
  background: #ffffff;
  padding: 30px;
  border-radius: 0 0 12px 12px;
  border: 1px solid #e0e0e0;
  border-top: none;
  min-height: 200px;
}
