@import "../../../var";

.GridsAndSpacing{
    .grid-system {
        display: flex;
        gap: 40px;
        
        .grid-description,
        .grid-visual {
            flex: 1;
        }

        .grid-visual {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}